.nested-data-type_entity_label {
    padding-left: 5px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.35);
}

.nested-data-type_add_property {
    margin-left: 10px !important;
    cursor: pointer;
}

.nested-data-type_add_property[class*="o-icon-"]::before{
    padding-right: 5px;
}

.inputs .nested-data-type_button{
    margin: unset;
    padding: unset;
    background: none;
    box-shadow: none;
}

.o-icon-delete.nested-data-type_remove_property {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    margin-top: -30px;
    width: fit-content;
    color: #cdcdcd;
    cursor: pointer;
}

.nested-data-type_repeat_class input {
    padding-left: 20px;
    background: #FFF8E5;
}

.inputs .nested-data-type_repeat_property datalist{
    margin: 0;
    border-radius: 0;
}

.nested-data-type-dropwdown {
    padding-left: 6px;
    width: 95%;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.35);
    background: rgba(0,0,0,0.05);
    height: 36px;
}

.hidden {
    display: none;
}

.inputs .nested-data-type_add_class {
    font-size: .75rem;
}

.nested-data-type_property_dropdown::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.nested-data-type_properties .input{
    border-bottom: 1px solid rgba(0,0,0,0.35);
}

.nested-data-type_properties .input label {
    z-index: 1;
    display: flex;
    padding: 6px 0 6px 6px;
    width: auto;
    font-weight: bold;
    color: rgba(0,0,0,0.35);
}

.nested-data-type_properties .input textarea {
    margin: -6px 0 -6px 0;
    height: 36px;
    border: 0;
    padding: 6px 0 6px 6px;
    font-weight: normal;
    background: transparent;
    min-height: 36px !important;
}