.nested-data-type_entity_label {
    padding-left: 5px;
    font-weight: 500;
}

.nested-data-type_add_property {
    margin-left: 10px !important;
    cursor: pointer;
}

.nested-data-type_add_property[class*="o-icon-"]::before{
    padding-right: 5px;
}

.o-icon-delete.nested-data-type_remove_property {
    width: fit-content;
    position: absolute;
    left: 100%;
    margin-left: 10px;
    margin-top: -30px;
    cursor: pointer;
}

.inputs .nested-data-type_repeat_property datalist{
    border-radius: 0;
    margin: 0;
}

.nested-data-type_property_dropdown{
    width: calc(100% - 10px);
    border: none;
    margin-left: 5px;
    font-style: italic;
}

.nested-data-type_property_dropdown::-webkit-calendar-picker-indicator {
    opacity: 100;
}